<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hreday.chakr.onlineusa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/hh"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Shopping.Petsmart"></activity>
        <activity android:name=".Shopping.Staples" />
        <activity android:name=".Shopping.Lowes" />
        <activity android:name=".Shopping.Depot" />
        <activity android:name=".Shopping.Dicks" />
        <activity android:name=".Shopping.Za" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Flowers.Teleflora" />
        <activity android:name=".Flowers.Proflower" />
        <activity android:name=".Flowers.Personal" />
        <activity android:name=".Flowers.Gifttree" />
        <activity android:name=".Flowers.Gifts" />
        <activity android:name=".Flowers.Ftd" />
        <activity android:name=".Flowers.Flowers1800" />
        <activity android:name=".Flowers.Busket" />
        <activity android:name=".Books.Thift" />
        <activity android:name=".Books.Powel" />
        <activity android:name=".Books.Penguin" />
        <activity android:name=".Books.Kobo" />
        <activity android:name=".Books.Goodreads" />
        <activity android:name=".Books.ChristianBook" />
        <activity android:name=".Books.Chegg" />
        <activity android:name=".Books.Burnandnoble" />
        <activity android:name=".Books.Bookdepository" />
        <activity android:name=".Books.Audible" />
        <activity android:name=".Pharmacy.Vitaminshop" />
        <activity android:name=".Pharmacy.Vitacost" />
        <activity android:name=".Pharmacy.Riteaid" />
        <activity android:name=".Pharmacy.Qvc" />
        <activity android:name=".Pharmacy.Puritan" />
        <activity android:name=".Pharmacy.Menshealth" />
        <activity android:name=".Pharmacy.Meijer" />
        <activity android:name=".Pharmacy.Cvs" />
        <activity android:name=".Pharmacy.Contacts" />
        <activity android:name=".Pharmacy.Caremark" />
        <activity android:name=".News.Weather" />
        <activity android:name=".News.Usatoday" />
        <activity android:name=".News.Newwork" />
        <activity android:name=".News.Medicalnews" />
        <activity android:name=".News.Fox" />
        <activity android:name=".News.Fobes" />
        <activity android:name=".News.Espn" />
        <activity android:name=".News.Cnn" />
        <activity android:name=".News.Britannica" />
        <activity android:name=".News.Bbc" />
        <activity android:name=".News.Aoi" />
        <activity android:name=".News.Abc" />
        <activity android:name=".Jobs.Usajobs" />
        <activity android:name=".Jobs.Upwork" />
        <activity android:name=".Jobs.Snagajob" />
        <activity android:name=".Jobs.Monster" />
        <activity android:name=".Jobs.Indeed" />
        <activity android:name=".Jobs.Guru" />
        <activity android:name=".Jobs.Freelancer" />
        <activity android:name=".Jobs.Carerbuilder" />
        <activity android:name=".Travel.Trivango" />
        <activity android:name=".Travel.Travelocity" />
        <activity android:name=".Travel.Hotwire" />
        <activity android:name=".Travel.Homeaway" />
        <activity android:name=".Travel.Expedia" />
        <activity android:name=".Travel.Enterprise" />
        <activity android:name=".Travel.Emirates" />
        <activity android:name=".Travel.Choicehotels" />
        <activity android:name=".Travel.Cheoapir" />
        <activity android:name=".Travel.Carrentals" />
        <activity android:name=".Travel.Budget" />
        <activity android:name=".Travel.Booking" />
        <activity android:name=".Travel.Airbnb" />
        <activity android:name=".Travel.Agoda" />
        <activity android:name=".Electronics.Woot" />
        <activity android:name=".Electronics.Tiger" />
        <activity android:name=".Electronics.Sears" />
        <activity android:name=".Electronics.Rakuten" />
        <activity android:name=".Electronics.Frys" />
        <activity android:name=".Electronics.Craig" />
        <activity android:name=".Electronics.Apple" />
        <activity android:name=".Electronics.Adorama" />
        <activity android:name=".Furniture.OverstockFurnitue" />
        <activity android:name=".Furniture.Wiliam" />
        <activity android:name=".Furniture.West" />
        <activity android:name=".Furniture.Way" />
        <activity android:name=".Furniture.Walmarket" />
        <activity android:name=".Furniture.Rest" />
        <activity android:name=".Furniture.Pottery" />
        <activity android:name=".Furniture.Joss" />
        <activity android:name=".Furniture.Ikea" />
        <activity android:name=".Furniture.Hay" />
        <activity android:name=".Furniture.Bed" />
        <activity android:name=".Furniture.Allmodern" />
        <activity android:name=".Baby.Zuily" />
        <activity android:name=".Baby.Overstock" />
        <activity android:name=".Baby.Mattel" />
        <activity android:name=".Baby.Lego" />
        <activity android:name=".Baby.Janiandjack" />
        <activity android:name=".Baby.Gamestop" />
        <activity android:name=".Baby.Fat" />
        <activity android:name=".Baby.Fao" />
        <activity android:name=".Baby.Disney" />
        <activity android:name=".Baby.Crate" />
        <activity android:name=".Baby.Childrenspace" />
        <activity android:name=".Baby.BabyEarth" />
        <activity android:name=".HomeRentals.Zumper" />
        <activity android:name=".HomeRentals.Zillow" />
        <activity android:name=".HomeRentals.Vrbo" />
        <activity android:name=".HomeRentals.Trulia" />
        <activity android:name=".HomeRentals.Rentals" />
        <activity android:name=".HomeRentals.Rent" />
        <activity android:name=".HomeRentals.Homes" />
        <activity android:name=".HomeRentals.Homefinder" />
        <activity android:name=".HomeRentals.Forrent" />
        <activity android:name=".HomeRentals.Flipkey" />
        <activity android:name=".HomeRentals.Apartments" />
        <activity android:name=".HomeRentals.Apartmentlist" />
        <activity android:name=".HomeRentals.Apartmentguide" />
        <activity android:name=".HomeRentals.Apartmentfinder" />
        <activity android:name=".Food.Wholefoodmarket" />
        <activity android:name=".Food.Wegmans" />
        <activity android:name=".Food.Kroger" />
        <activity android:name=".Food.Kfc" />
        <activity android:name=".Food.Instacart" />
        <activity android:name=".Food.HelloFresh" />
        <activity android:name=".Food.Freshdirect" />
        <activity android:name=".Food.Foodnetwork" />
        <activity android:name=".Food.Eatingwell" />
        <activity android:name=".Food.Dominous" />
        <activity android:name=".Food.Delivery" />
        <activity android:name=".Food.Chickfill" />
        <activity android:name=".Food.BurgerKing" />
        <activity android:name=".Food.Allrecepies" />
        <activity android:name=".Fashion.Victoria" />
        <activity android:name=".Fashion.Saksfifthavenue" />
        <activity android:name=".Fashion.RossSymons" />
        <activity android:name=".Fashion.Nordstorm" />
        <activity android:name=".Fashion.Macys" />
        <activity android:name=".Fashion.Kohls" />
        <activity android:name=".Fashion.Kay" />
        <activity android:name=".Fashion.Jared" />
        <activity android:name=".Fashion.Gilt" />
        <activity android:name=".Fashion.Gap" />
        <activity android:name=".Fashion.Elle" />
        <activity android:name=".Fashion.Bluenile" />
        <activity android:name=".Fashion.Asos" />
        <activity android:name=".Fashion.Armani" />
        <activity android:name=".Shopping.Newegg" />
        <activity android:name=".Shopping.Athleta" />
        <activity android:name=".Shopping.Carters" />
        <activity android:name=".Shopping.Target" />
        <activity android:name=".Shopping.Walgreen" />
        <activity android:name=".Shopping.Groupon" />
        <activity android:name=".Shopping.Banggood" />
        <activity android:name=".Shopping.AmericanEagle" />
        <activity android:name=".Shopping.Etsy" />
        <activity android:name=".Shopping.Walmart" />
        <activity android:name=".Shopping.BestBuy" />
        <activity android:name=".Shopping.Ebay" />
        <activity android:name=".Shopping.AmazonActivity" />
        <activity android:name=".Shopping.Aliexpress" />
        <activity android:name=".Flowers.FlowerActivity" />
        <activity android:name=".Books.BooksActivity" />
        <activity android:name=".Pharmacy.PharmacyActivity" />
        <activity android:name=".News.NewsActivity" />
        <activity android:name=".Jobs.JobActivity" />
        <activity android:name=".Electronics.ElectricityActivity" />
        <activity android:name=".Furniture.FurnitureActivity" />
        <activity android:name=".Travel.TravelActivity" />
        <activity android:name=".Baby.BabyActivity" />
        <activity android:name=".HomeRentals.HomeRentalsActivity" />
        <activity android:name=".Food.FoodActivity" />
        <activity android:name=".Fashion.FashionActivity" />
        <activity android:name=".Shopping.ShoppingActivity" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>